@import "tailwindcss";

/* Custom CSS variables */
:root {
  --white-pure: #FFFFFF;
  --white-soft: #F8F8F8;
  --black-soft: #242424;
  --black-deep: #161616;
  --black-pure: #000000;
}

/* Custom color utilities */
.bg-white-pure { background-color: var(--white-pure); }
.bg-white-soft { background-color: var(--white-soft); }
.bg-black-pure { background-color: var(--black-pure); }
.bg-black-deep { background-color: var(--black-deep); }
.bg-black-soft { background-color: var(--black-soft); }

.text-white-pure { color: var(--white-pure); }
.text-black-pure { color: var(--black-pure); }
.text-black-deep { color: var(--black-deep); }
.text-black-soft { color: var(--black-soft); }

html {
  scroll-behavior: smooth;
}

::selection {
  background: #000;
  color: #fff;
}
